<!DOCTYPE html>
<html lang="en">
<head>
    <title>MadLibs</title>
     <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
    <meta charset='utf-8'>
</head>
<body>
<h1>Enter Words</h1>
<form action="/Story" method="post">
<label for="nouns">Nouns</label>
<input type="text" name="nouns" id="nouns">
<label for="adjectives">adjectives</label>
<input type="text" name="adjectives" id="adjectives">
<label for="adverbs">adverbs</label>
<input type="text" name="adverbs" id="adverbs">
<label for="exclamations"> exclamations</label>
<input type="text" name="exclamations" id="exclamations">
<button type="submit">Submit</button>

</form>  
</body>
</html>